DISCORD_TOKEN=ide_jon_a_discord_bot_token
BOT_OWNER_ID=869922953918312468
ADMIN_ROLE_IDS=
MOD_ROLE_IDS=

# DISCORD_TOKEN = ide kerül a Discord bot token
# BOT_OWNER_ID = a bot létrehozójának Discord ID-je
# ADMIN_ROLE_IDS = admin rang ID-k vesszővel elválasztva
# MOD_ROLE_IDS = moderátor rang ID-k vesszővel elválasztva
#
# Példa több admin rangra:
# ADMIN_ROLE_IDS=111111111111111111,222222222222222222
#
# Példa egy mod rangra:
# MOD_ROLE_IDS=333333333333333333